<?xml version="1.0" encoding="UTF-8"?>
<settings xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.1.0 http://maven.apache.org/xsd/settings-1.1.0.xsd" xmlns="http://maven.apache.org/SETTINGS/1.1.0"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <servers>
    <server>
      <username>soahudson</username>
      <password>fzanZEl02p</password>
      <configuration>
        <httpConfiguration>
          <all>
            <useDefaultHeaders>false</useDefaultHeaders>
            <headers>
              <header>
                <name>Cache-control</name>
                <value>no-cache</value>
              </header>
              <header>
                <name>Cache-store</name>
                <value>no-store</value>
              </header>
              <header>
                <name>Pragma</name>
                <value>no-cache</value>
              </header>
              <header>
                <name>Expires</name>
                <value>0</value>
              </header>
            </headers>
          </all>
        </httpConfiguration>
      </configuration>
      <id>nexus-release</id>
    </server>
    <server>
      <username>soahudson</username>
      <password>fzanZEl02p</password>
      <configuration>
        <httpConfiguration>
          <all>
            <useDefaultHeaders>false</useDefaultHeaders>
            <headers>
              <header>
                <name>Cache-control</name>
                <value>no-cache</value>
              </header>
              <header>
                <name>Cache-store</name>
                <value>no-store</value>
              </header>
              <header>
                <name>Pragma</name>
                <value>no-cache</value>
              </header>
              <header>
                <name>Expires</name>
                <value>0</value>
              </header>
            </headers>
          </all>
        </httpConfiguration>
      </configuration>
      <id>nexus-snapshot</id>
    </server>
  </servers>
  <mirrors>
    <mirror>
      <mirrorOf>*,!Local</mirrorOf>
      <url>https://repository.engineering.redhat.com/nexus/content/groups/hudson-jb-ip-6.1-build-jboss-central</url>
      <id>MEAD-proxy</id>
    </mirror>
  </mirrors>
  <profiles>
    <profile>
      <activation>
        <activeByDefault>true</activeByDefault>
      </activation>
      <properties>
        <altDeploymentRepository>nexus-release::default::https://repository-basic.engineering.redhat.com/nexus/content/repositories/scratch-release-jb-ip-6.1-build</altDeploymentRepository>
      </properties>
      <repositories>
        <repository>
          <id>nexus-release</id>
          <url>https://repository-basic.engineering.redhat.com/nexus/content/repositories/scratch-release-jb-ip-6.1-build</url>
        </repository>
        <repository>
          <snapshots />
          <id>nexus-snapshot</id>
          <url>https://repository-basic.engineering.redhat.com/nexus/content/repositories/scratch-snapshot-jb-ip-6.1-build</url>
        </repository>
      </repositories>
      <pluginRepositories>
        <pluginRepository>
          <id>nexus-release</id>
          <url>https://repository-basic.engineering.redhat.com/nexus/content/repositories/scratch-release-jb-ip-6.1-build</url>
        </pluginRepository>
        <pluginRepository>
          <snapshots />
          <id>nexus-snapshot</id>
          <url>https://repository-basic.engineering.redhat.com/nexus/content/repositories/scratch-snapshot-jb-ip-6.1-build</url>
        </pluginRepository>
      </pluginRepositories>
      <id>MEAD</id>
    </profile>
  </profiles>
  <activeProfiles>
    <activeProfile>removed-by-pme</activeProfile>
  </activeProfiles>
</settings>
